.skeleton-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.skeleton-box {
  width: 100%;
  background-color: rgba(97, 218, 251, 0.2); /* Lighter background */
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: relative;
  overflow: hidden;
}

.shorter-box {
  height: 160px;
}

.taller-box {
  height: 250px;
}

.skeleton-box::before,
.skeleton-box::after,
.skeleton-line {
  content: '';
  position: absolute;
  left: 10px;
  right: 10px;
  background-color: rgba(255, 255, 255, 0.3); /* White with slight transparency */
  border-radius: 20px;
  height: 20px;
}

.shorter-box::before {
  top: 20px;
}

.shorter-box::after {
  top: 50px;
}

.shorter-box .third-line {
  top: 80px;
}

.taller-box::before {
  top: 20px;
}

.taller-box::after {
  top: 50px;
}

.taller-box .skeleton-line:nth-child(3) {
  top: 80px;
}

.taller-box .skeleton-line:nth-child(4) {
  top: 110px;
}

.taller-box .skeleton-line:nth-child(5) {
  top: 140px;
}

.taller-box .skeleton-line:nth-child(6) {
  top: 170px;
}

.animated-gradient {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.1) 25%, /* Very subtle white start */
    rgba(255, 255, 255, 0.3) 50%, /* Slightly more visible in middle */
    rgba(255, 255, 255, 0.1) 75% /* Very subtle white end */
  );
  background-size: 200% 100%;
  animation: loading 1.5s infinite;
}

@keyframes loading {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}